.activity {
  display: flex;
  flex-flow: column nowrap;
  column-gap: 32px;
  margin: 64px 0;
}

.activity-title {
  padding: 0 15px 0 0;
}
.activity-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.activity-item {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  transition-duration: 0.2s;
}
.activity-item:hover {
  transform: scale(1.1);
}

.activity-item-image {
  flex-shrink: 1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.activity-item-image-large {
  height: 80%;
}
.activity-item-image-medium {
  height: 73%;
}
.activity-item-image-small {
  height: 59%;
}
.activity-item-title {
  margin: 19px 24px;
}

.activity-item-large {
  display: flex;
  flex-direction: row;
  height: 450px;
  width: 23%;
}
.activity-item-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  gap: 30px;
  max-height: 450px;
}

@media (max-width: 992px) {
  .activity{
    margin:0 25px
  }
  .activity-items {
    flex-flow: column nowrap;
    row-gap: 32px;
    justify-self: stretch;
    
  }
  .activity-item-large,
  .activity-item-small {
    display: contents;
   
  }
  .activity-item{
    height:200px;
  }


  .activity-item-image-xlarge,
  .activity-item-image-large,
  .activity-item-image-medium,
  .activity-item-image-small {
    height: 70%;
  }


  
}
