
.footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: start;
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;
    font-family: "Raleway", "Sans serif";
  }
  .footer-column {
    width: 30%;
    padding: 32px 32px;
  }
  .footer-column-link {
    display: block;
    margin: 16px 0;
  }
  .footer-column-link:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      padding: 32px;
    }
    .footer-column {
      width: 100%;
      padding: 0;
      margin:16px 0;
    }
    
  }